@use "@styles/mixins.module.scss" as mixin;
@use "@styles/variables.module.scss" as var;

.container {
    background-image: url(../../assets/images/Classic.jpg);
    height: 520px;
    width: 100%; /* Full width for better responsiveness */
    max-width: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;
    margin: 0px;

    @media screen and (max-width: 768px) { // Tablet View
        height: 400px;
        padding: 1rem;
    }

    @media screen and (max-width: 576px) { // Mobile View
        height: 300px;
        padding: 0.5rem;
    }
}

.containerTimer {
    @include mixin.flex_box_icon(center, center, 20px);
}

.title {
    color: var.$grey;
    font-size: 2em;
    font-weight: 600;
    margin: 35px 10px;
    text-align: center;

    @media screen and (max-width: 768px) {
        font-size: 1.5em;
        margin: 25px 5px;
    }

    @media screen and (max-width: 576px) {
        font-size: 1.2em;
        margin: 20px 5px;
    }
}

.btn {
    @include mixin.flex_box_icon(center, center, 5px);
    margin-top: 1.5rem;

    @media screen and (max-width: 768px) {
        margin-top: 1rem;
    }

    @media screen and (max-width: 576px) {
        margin-top: 0.5rem;
    }
}
