@use "@styles/variables.module.scss" as var;
@use "@styles/mixins.module.scss" as mixin;

.imgItems {
    width: 310px;
    height: 453px;
    gap: 5px;
    position: relative;
    margin-top: 0px;

    &:hover {
        .showHover {
            opacity: 1;
            transition: opacity 500ms ease;
        }

        .showSidebarItemHover {
            opacity: 1;
            transform: translateX(0);
            transition: transform 500ms ease, opacity 500ms ease;
        }
    }

    @media screen and (max-width: 1334px) {
        width: 280px;
        height: 400px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        height: 330px;
    }

    @media screen and (max-width: 576px) {
        width: 180px;
        height: 270px;
    }
}

.imgItems img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.showHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.showSidebarItemHover {
    opacity: 0;
    background-color: var.$whiteColor;
    position: absolute;
    right: 25px;
    bottom: 20px;
    transform: translateX(100%);
    transition: transform 500ms ease, opacity 500ms ease;

    @media screen and (max-width: 576px) {
        right: 10px;
        bottom: 10px;
    }
}

.containerIcon {
    width: 40px;
    height: 40px;
    @include mixin.flex_box_icon(center, center, 0px);

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        background-color: var.$lightGrey;
        transition: background-color 200ms;
    }

    @media screen and (max-width: 576px) {
        width: 30px;
        height: 30px;

        img {
            width: 16px;
            height: 16px;
        }
    }
}

.itemName {
    font-size: 0.9em;
    color: var.$secondBlack;
    font-weight: 600;
    margin: 10px 0px 5px 0px;

    @media screen and (max-width: 768px) {
        font-size: 0.8em;
    }

    @media screen and (max-width: 576px) {
        font-size: 0.7em;
    }
}

.itemPrice {
    font-size: 0.7em;
    font-weight: 500;
    color: var.$grey;

    @media screen and (max-width: 768px) {
        font-size: 0.65em;
    }

    @media screen and (max-width: 576px) {
        font-size: 0.6em;
    }
}
