@use "@styles/mixins.module.scss" as style;
@use "@styles/variables.module.scss" as var;

.btn_heart {
    @include style.btn_common(20vh, 30px, 10px, 1em, 3px);
}
.btn_add {
    @include style.btn_add;
}
.btn_default {
    @include style.btn_common(
        176px,
        42px,
        5px,
        0.8em,
        10px,
        var.$footerColor,
        var.$whiteColor
    );
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;

    &:hover {
        background-color: transparent;
        font-weight: 500;
        opacity: 1;
         border: none;
          box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
    }
}

.btn_buy {
    @include style.btn_style(310px, 45px, 0.5em, black, white, 10px, 10px, 7px);
}
