.wrapLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100%;
    overflow: hidden;
    // height: 100vh;
}
.containerSection {
    width: 1250px;
}
