//file nay dung de luu cac style nhu color, width, height,
// ma co the dung chung trong project
$primary: #000000;
$sencondary: #888;
$grey: #555;
$secondBlack:#222;
$whiteColor: #fff;
$brownYellow: rgb(181, 180, 152);
$skinColor: #fff4e4;
$lightGrey: #ededed;
$footerColor: #313131;
$bgPrimary: #fed392;
$Terracotta: #e8c0a8;
$PastelCoral: #ffc9b5;
$hardOrange: #d74800;
$Lavender: #e9d6f0;
