//file nay dung de luu cac style nhu color, width, height,
// ma co the dung chung trong project
$primary: #333;
$sencondary: #888;
$grey: #555;
$whiteColor: #fff;
$brownYellow: rgb(181, 180, 152);
$skinColor: #fff4e4;
$lightGrey: #EDEDED;
$footerColor: #313131;
$bgPrimary:#fae7ca;